.bank-account-container {
    -fx-background-color: #f5f5f5;
    -fx-padding: 20px;
}

.header-button {
    -fx-background-color: #3498db; /* Button background color */
    -fx-text-fill: white; /* Button text color */
    -fx-font-size: 14px; /* Button font size */
    -fx-background-color: #e3b256; /* Green background color */
    -fx-font-weight: Bold;
    -fx-padding: 5px 10px; /* Padding (top/bottom, left/right) */
}
.header-button:hover {
    -fx-background-color: linear-gradient(to bottom, #fac869, #e3b256);
            -fx-text-fill: white;
            -fx-font-weight: bold;
            -fx-font-size: 14px;
            -fx-padding: 5px 10px;

            -fx-scale-x: .95;
            -fx-scale-y: .95;
            -fx-scale-z: .95;
}

.header-label {
    -fx-font-size: 18px; /* Header label font size */
    -fx-font-weight: bold; /* Bold font weight */
}

.section-label {
    -fx-font-size: 16px; /* Section label font size */
    -fx-font-weight: bold; /* Bold font weight */
}

.combo-box {
    -fx-pref-width: 200px; /* Preferred width of the combo box */
    -fx-font-size: 14px; /* Font size */
}

.list-view {
    -fx-pref-width: 400px; /* Preferred width of the list view */
    -fx-pref-height: 200px; /* Preferred height of the list view */
}

.action-button {
    -fx-background-color: #3498db; /* Button background color */
    -fx-text-fill: white; /* Button text color */
    -fx-font-size: 14px; /* Button font size */
    -fx-background-color: #e3b256; /* Green background color */
    -fx-font-weight: Bold;
    -fx-padding: 5px 10px; /* Padding (top/bottom, left/right) */
}

.action-button:hover {
    -fx-background-color: linear-gradient(to bottom, #fac869, #e3b256);
        -fx-text-fill: white;
        -fx-font-weight: bold;
        -fx-font-size: 14px;
        -fx-padding: 5px 10px;

        -fx-scale-x: .95;
        -fx-scale-y: .95;
        -fx-scale-z: .95;
}
